<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/images"
        android:label="Pet Mates"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lost_and_Found"></activity>
        <activity
            android:name=".ui.login.Lost_and_Found"
            android:label="@string/title_activity_lost_and__found" />
        <activity android:name=".Galleries" />
        <activity android:name=".View_account_information" />
        <activity android:name=".Admin_view_suggestion" />
        <activity android:name=".Admin_view_report" />
        <activity android:name=".Admin_view_question" />
        <activity android:name=".Admin_page" />
        <activity android:name=".Search_question_result" />
        <activity android:name=".Suggestion" />
        <activity android:name=".Ask_question" />
        <activity android:name=".FandQ" />
        <activity android:name=".Pet_News" />
        <activity android:name=".New_Post" />
        <activity android:name=".View_prefile" />
        <activity android:name=".Edit_profile" />
        <activity android:name=".Oops" />
        <activity android:name=".Pairing_ByL_Result" />
        <activity android:name=".Pairing_ByP_Result" />
        <activity android:name=".Account_Information" />
        <activity android:name=".Application_Support" />
        <activity android:name=".Forum" />
        <activity android:name=".Pairing" />
        <activity android:name=".Friends" />
        <activity android:name=".Create_Profile" />
        <activity android:name=".Main_menu" />
        <activity android:name=".Register" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>